.footer {
    padding: 10px 200px;
    display: flex;
    justify-content: space-between;
}

.leftDiv {
    color: blue;
}

.rightDiv {
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}