@mixin logo {
    width: 14vw;
    height: 14vw;
    padding-bottom: 1vw;
}
@mixin flexDisplay {
    display: flex;
    flex-direction: column;
}

@mixin gridDisplay {
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 20% 60% 20%;
}

@mixin greenButton {
    margin: 2vw;
    border-style: none;
    border-radius: 5px;
    width: 60vw;
    height: 12vw;
    color: white;
    font-size: 5vw;
    background-color: $darkGreen;
}

@mixin whiteButton {
    margin: 2vw;
    border: 0.2vw solid $lightGrey;
    border-radius: 5px;
    width: 60vw;
    height: 12vw;
    color: $darkGrey;
    font-size: 5vw;
    background-color: $whiteBackground;
}

@mixin buttonHover {
    background-color: $lightGreen;
    color: $darkGreen;
}

@mixin logOut {
    text-decoration: none;
    vertical-align: top;
    color: $lightGrey;
}

@mixin search {
    color: $lightGrey;
    border: transparent;
    font-size: 5vw;
}

@mixin select {
    border: transparent;
    background: transparent;
    color: $darkGreen;
    font-size: 5vw;
}
