$darkGreen: rgb(86, 167, 86);
$lightGreen: rgb(166, 243, 166);
$darkGrey: grey;
$lightGrey: lightgrey; 
$whiteBackground: rgba(255, 255, 255, 0.959);
$darkGreyBackground: rgb(208, 213, 223);
$lightGreyBackground: rgb(221, 216, 216);