$redBackground: rgb(206, 53, 53);
$lightGreyBackground: rgb(104, 98, 98);
$darkGreyBackground: rgb(53, 50, 50);
$whiteBackground: white;
$darkRedBackground: rgb(136, 6, 6);


$pageTitleFontSize: 150px;
$bigTitleFontSize: 200px;
$TitleFontSize:100px;
$subTitleFontSize: 80px;
$smallFontSize: 15px;

$textColorWhite: white;
$textColorBlack: black;
$textColorRed: rgb(104, 9, 9);

$tabletPageTitleFontSize: 50px;
$tabletBigTitleFontSize: 70px;
$tabletTitleFontSize:40px;
$tabletSubTitleFontSize: 30px;
$tabletSmallFontSize: 15px;

$desktopPageTitleFontSize: 40px;
$desktopBigTitleFontSize: 30px;
$desktopTitleFontSize:20px;
$desktopSubTitleFontSize: 12px;
$desktopSmallFontSize: 12px;