* {
    font-size: 0.97em;
    color: grey;
}

.card {
    display: inline-block;
    width: 280px;
    height: 280px;
    padding: 10px;
    margin: 5px 10px;
}

.card:hover{
font-size: 1.1em;
}

.image {
    width: 280px;
    height: 200px;
}

.type, .city, .rating, .host {
    display: inline;
}

.name, .rating {
    font-weight: bold;
}

.rating {
    color: rgb(44, 206, 192);
}

.text {
    color: grey;
    font-size: 1.5em;
}