@mixin logo {
    width: 14vw;
    height: 14vw;
    padding-bottom: 1vw;
}

@mixin desktopLogo {
    width: 50px;
    height: 50px;
    padding: 1vw;
}

@mixin flexDisplay {
    display: flex;
    flex-direction: column;
}

@mixin gridDisplay {
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 20% 80%;
    grid-gap: 1px ;
}

@mixin greenButton {
    margin: 2vw;
    border-style: none;
    border-radius: 5px;
    width: 60vw;
    height: 6vh;
    color: white;
    background-color: $darkGreen;
}

@mixin desktopGreenButton {
    margin: 20px 10px;
    border-style: none;
    border-radius: 5px;
    width: 13vw;
    height: 5vh;
    color: white;
    background-color: $darkGreen;
}

@mixin whiteButton {
    border: 0.2vw solid $lightGrey;
    border-radius: 5px;
    width: 60vw;
    height: 12vw;
    color: $darkGrey;
    background-color: $whiteBackground;
}

@mixin desktopWhiteButton {
    border: 1.5px solid $lightGrey;
    border-radius: 5px;
    width: 15vw;
    height: 5vh;
    color: $darkGrey;
    background-color: $whiteBackground;
}

@mixin foodItem {
        margin: 2vh 0;
        border: 1px solid $lightGrey;
        border-radius: 5px;
        width: 80vw;
        height: 30vw;
}

@mixin buttonHover {
    background-color: $lightGreen;
    color: $darkGreen;
}

@mixin greyButton {
    margin: 2vw;
    border: 0.2vw solid $lightGrey;
    border-radius: 5px;
    width: 60vw;
    height: 15vw;
    color: $darkGrey;
    background-color: $lightGreyBackground;
}

@mixin desktopGreyButton {
    margin: 2vw;
    border: 1.5px solid $lightGrey;
    border-radius: 5px;
    width: 13vw;
    height: 5vh;
    color: $darkGrey;
    background-color: $lightGreyBackground;
}

@mixin logOut {
    text-decoration: none;
    vertical-align: top;
    color: $lightGrey;
}

@mixin search {
    color: $lightGrey;
    border: transparent;
}

@mixin select {
    border: transparent;
    background: transparent;
    color: $darkGreen;
}

@mixin dropBox {
    border: 2px dotted $darkGrey;
    width : 60vw;
    height: 15vw;
}

@mixin desktopDropBox {
    border: 2px dotted $darkGrey;
    width: 15vw;
    height: 3vw;
}

@mixin userIcon {
    width: 30px;
    height: 30px;
}

@mixin title {
    margin: 0;
    color: $darkGrey;
    text-align: center;
}

@mixin desktopTitle {
    text-align: left;
    font-family: Verdana, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    font-weight: lighter;
}

@mixin desktopFoodItem {
    margin: 2vh 0;
    border: 1px solid #a6a8a3;
    border-radius: 5px;
    width: 40vw;
    height: 15vh;
}


