$darkGreen: rgb(70, 176, 74);
$lightGreen: rgb(225, 239, 176);
$darkGrey: rgb(49, 57,66);
$lightGrey: rgb(166, 168, 163); 
$whiteBackground: rgb(254, 254, 255);
$darkGreyBackground: rgb(212, 230, 212);
$lightGreyBackground: rgb(244, 246, 243);
$greyLine: rgb(238, 234, 234);