body {
  width: 100vw;
  max-width: 100vw;
  margin: 0px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  color: #a6a8a3;
  font-family: sans-serif;
}

.logoBanner {
  background-color: #f4f6f3;
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
}

.lateralBar {
  border-bottom: 1px solid #46b04a;
  padding: 5vw;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  background-color: #f4f6f3;
}

.logo {
  width: 14vw;
  height: 14vw;
  padding-bottom: 1vw;
}

.notification {
  width: 10vw;
  height: 3vh;
  float: right;
  padding: 2vw;
}

.userIcon {
  display: none;
}

.navLinks {
  display: none;
}

#plan {
  border: transparent;
  background: transparent;
  color: #46b04a;
}

.user p {
  margin: 0;
  font-weight: bold;
  color: #313942;
}

.greenButton {
  margin: 2vw;
  border-style: none;
  border-radius: 5px;
  width: 60vw;
  height: 6vh;
  color: white;
  background-color: #46b04a;
}

.logOut a {
  text-decoration: none;
  vertical-align: top;
  color: #a6a8a3;
}

.logOutLogo {
  width: 4vw;
  height: 2vh;
}

.search {
  padding: 3vw;
}

.searchBar {
  padding: 3vw;
}

.searchBarText {
  color: #a6a8a3;
  border: transparent;
}

.searchOptions input {
  display: none;
}

.slider {
  display: inline-block;
}

.toggleButton {
  width: 40px;
  height: 20px;
  border-radius: 15px;
  padding: 0.5vw;
  background: #e1efb0;
}

.innerCircle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #46b04a;
}

label.option {
  padding: 2vw;
  font-size: 0.8em;
}

.mainSectionTitle {
  margin: 0;
  color: #313942;
  text-align: center;
}

.mainSectionText {
  text-align: center;
}

.sortMeals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#mealType {
  border: transparent;
  background: transparent;
  color: #46b04a;
}

#sortBy {
  border: transparent;
  background: transparent;
  color: #46b04a;
}

.whiteButton {
  border: 0.2vw solid #a6a8a3;
  border-radius: 5px;
  width: 60vw;
  height: 12vw;
  color: #313942;
  background-color: #fefeff;
}

.foodItem {
  margin: 2vh 0;
  border: 1px solid #a6a8a3;
  border-radius: 5px;
  width: 80vw;
  height: 30vw;
}

.mainSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #46b04a;
}

.sideSectionTitle {
  margin: 0;
  color: #313942;
  text-align: center;
}

.sideSectionSubtitle {
  text-align: center;
}

.dropBox {
  border: 2px dotted #313942;
  width: 60vw;
  height: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.greyButton {
  margin: 2vw;
  border: 0.2vw solid #a6a8a3;
  border-radius: 5px;
  width: 60vw;
  height: 15vw;
  color: #313942;
  background-color: #f4f6f3;
}

.sideSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f4f6f3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-device-width: 768px) {
  body {
    background-color: #d4e6d4;
  }
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 10% 90%;
        grid-template-rows: 10% 90%;
    -ms-grid-columns: 20% 80%;
        grid-template-columns: 20% 80%;
    grid-gap: 1px;
    max-width: 90vw;
    height: 100vh;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 12% 5%;
    border-radius: 10px;
    background-color: #eeeaea;
  }
  .search {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    border-radius: 0 10px 0 0;
    background-color: #fefeff;
  }
  .lateralBar {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
    border-bottom: none;
    border-radius: 0 0 0 10px;
    padding: 25px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: small;
  }
  .logoBanner {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    border-radius: 10px 0 0 0;
  }
  .logo {
    width: 50px;
    height: 50px;
    padding: 1vw;
  }
  .notification {
    float: right;
    width: 20px;
    height: 20px;
    margin-top: -10px;
  }
  .userIcon {
    width: 30px;
    height: 30px;
    display: block;
  }
  .greenButton {
    margin: 20px 10px;
    border-style: none;
    border-radius: 5px;
    width: 13vw;
    height: 5vh;
    color: white;
    background-color: #46b04a;
  }
  .menu {
    padding: 0 20px;
  }
  .navLinks {
    display: block;
  }
  .menuLink,
  .communityLink {
    display: block;
    border: 1px solid transparent;
    padding: 6px;
    border-radius: 25px;
    text-decoration: none;
    color: #a6a8a3;
  }
  .menuLink:hover,
  .communityLink:hover {
    background-color: #fefeff;
  }
  .logOut {
    margin-top: 2vw;
    border: 1px solid transparent;
    border-radius: 25px;
    padding: 6px;
  }
  .logOut:hover {
    background-color: #fefeff;
  }
  .logOutLogo {
    width: 15px;
    height: 15px;
    margin-right: 1vw;
  }
  .search {
    padding: 25px;
  }
  .searchBar {
    display: inline-block;
    padding: 5px;
  }
  .searchOptions {
    float: right;
  }
  .toggleButton {
    width: 25px;
    height: 15px;
    border-radius: 15px;
    padding: 3px;
    background: #e1efb0;
  }
  .innerCircle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #46b04a;
  }
  label.option {
    padding: 3px;
    font-size: 0.8em;
  }
  .whiteButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .whiteButton {
    border: 1.5px solid #a6a8a3;
    border-radius: 5px;
    width: 15vw;
    height: 5vh;
    color: #313942;
    background-color: #fefeff;
    margin: 5px;
  }
  .foodItem {
    margin: 2vh 0;
    border: 1px solid #a6a8a3;
    border-radius: 5px;
    width: 40vw;
    height: 15vh;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .mainSection {
    display: inline-block;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
    width: 75%;
    border-bottom: none;
    padding: 2vw;
    background-color: #fefeff;
    text-align: left;
  }
  .mainSectionTitle {
    text-align: left;
    font-family: Verdana, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    font-weight: lighter;
    display: inline-block;
    font-size: 2em;
  }
  .mainSectionText {
    text-align: left;
  }
  .sideSection {
    width: 25%;
    border-radius: 0 0 10px 0;
    padding: 2vw;
    background-color: #fefeff;
  }
  .sideSectionTitle {
    text-align: left;
    font-family: Verdana, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    font-weight: lighter;
    font-size: 1.5em;
    font-weight: bold;
  }
  .dropBox {
    border: 2px dotted #313942;
    width: 15vw;
    height: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .greyButton {
    margin: 2vw;
    border: 1.5px solid #a6a8a3;
    border-radius: 5px;
    width: 13vw;
    height: 5vh;
    color: #313942;
    background-color: #f4f6f3;
  }
}
/*# sourceMappingURL=style.css.map */