@import "variables";
@import "mixins";

body {
    width: 100vw;
    max-width: 100vw;
    margin: 0px;
}

.container {
    @include flexDisplay;
    width: 100vw;
    color: $lightGrey;
    font-family: sans-serif;
}

// Lateral grey part
.logoBanner {
    background-color: $lightGreyBackground;
    order: -2;
}

.lateralBar {
    border-bottom: 1px solid $darkGreen;
    padding: 5vw;
    order: -1;
    background-color: $lightGreyBackground;
}

.logo {
    @include logo;
}

.notification {
    width: 10vw;
    height: 3vh;
    float: right;
    padding: 2vw;
}

.userIcon {
    display: none;
}

.navLinks {
    display: none;
}

#plan {
    @include select;
}

.user p {
    margin: 0;
    font-weight: bold;
    color: $darkGrey;
}

.greenButton {
    @include greenButton;
}

.logOut a {
    @include logOut;
}

.logOutLogo {
    width: 4vw;
    height: 2vh;
}

// search
.search {
    padding: 3vw;
}

.searchBar {
    padding: 3vw;
}

.searchBarText {
    @include search;
}

.searchOptions input {
    display: none;
}

.slider {
    display: inline-block;
}

.toggleButton {
    width: 40px;
    height: 20px;
    border-radius: 15px;
    padding: 0.5vw;
    background: $lightGreen;
}

.innerCircle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $darkGreen;
}

label.option {
    padding: 2vw;
    font-size: 0.8em;
}

// main section
.mainSectionTitle {
    @include title;
}

.mainSectionText {
    text-align: center;
}

.sortMeals {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#mealType {
    @include select;
}

#sortBy {
    @include select;
}

.whiteButton {
    @include whiteButton;
}

.foodItem {
    @include foodItem;
}

.mainSection {
    @include flexDisplay;
    align-items: center;
    border-bottom: 1px solid $darkGreen;
}

// side section
.sideSectionTitle {
    @include title;
}

.sideSectionSubtitle {
    text-align: center;
}

.dropBox {
    @include dropBox;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greyButton {
    @include greyButton;
}

.sideSection {
    @include flexDisplay;
    background-color: $lightGreyBackground;
    align-items: center;
}

@media screen and (min-device-width: 768px) {
    body {
        background-color: $darkGreyBackground;
    }

    .container {
        @include gridDisplay;
        max-width: 90vw;
        height: 100vh;
        box-sizing: border-box;
        margin: 12% 5%;
        border-radius: 10px;
        background-color: $greyLine;
    }

    .search {
        grid-row: 1;
        grid-column: 2 / 3;
        border-radius: 0 10px 0 0;
        background-color: $whiteBackground;
    }

    .lateralBar {
        grid-row: 2;
        grid-column: 1;
        border-bottom: none;
        border-radius: 0 0 0 10px;
        padding: 25px;
        order: 1;
        font-size: small;
    }

    .logoBanner {
        grid-row: 1;
        grid-column: 1;
        border-radius: 10px 0 0 0;
    }

    // lateral grey bar
    .logo {
        @include desktopLogo;
    }

    .notification {
        float: right;
        width: 20px;
        height: 20px;
        margin-top: -10px;
    }

    .userIcon {
        @include userIcon;
        display: block;
    }

    .greenButton {
        @include desktopGreenButton;
    }

    .menu {
        padding: 0 20px;
    }

    .navLinks {
        display: block;
    }

    .menuLink,
    .communityLink {
        display: block;
        border: 1px solid transparent;
        padding: 6px;
        border-radius: 25px;
        text-decoration: none;
        color: $lightGrey;
    }

    .menuLink:hover,
    .communityLink:hover {
        background-color: $whiteBackground;
    }

    .logOut {
        margin-top: 2vw;
        border: 1px solid transparent;
        border-radius: 25px;
        padding: 6px;
    }

    .logOut:hover {
        background-color: $whiteBackground;
    }

    .logOutLogo {
        width: 15px;
        height: 15px;
        margin-right: 1vw;
    }

    // search
    .search {
        padding: 25px;
    }

    .searchBar {
        display: inline-block;
        padding: 5px;
    }

    .searchOptions {
        float: right;
    }

    .toggleButton {
        width: 25px;
        height: 15px;
        border-radius: 15px;
        padding: 3px;
        background: $lightGreen;
    }

    .innerCircle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: $darkGreen;
    }

    label.option {
        padding: 3px;
        font-size: 0.8em;
    }

    // main section
    .whiteButtons {
        display: flex;
        flex-direction: row;
    }
    .whiteButton {
        @include desktopWhiteButton;
        margin: 5px;

    }

    .foodItem {
        @include desktopFoodItem;
    }

    main {
        display: flex;
        flex-direction: row;
    }

    .mainSection {
        display: inline-block;
        grid-row: 2;
        grid-column: 2;
        width: 75%;
        border-bottom: none;
        padding: 2vw;
        background-color: $whiteBackground;
        text-align: left;
    }

    .mainSectionTitle {
        @include desktopTitle;
        display: inline-block;
        font-size: 2em;
    }

    .mainSectionText {
        text-align: left;
    }

    .sideSection {
        width: 25%;
        border-radius: 0 0 10px 0;
        padding: 2vw;
        background-color: $whiteBackground;
    }

    .sideSectionTitle {
        @include desktopTitle;
        font-size: 1.5em;
        font-weight: bold;
    }

    .dropBox {
        @include desktopDropBox;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .greyButton {
        @include desktopGreyButton;
    }
}
